{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Новый пароль{% endblock %}
{% block content %}
{% load user_filters %}

{% if validlink %}

<div>
    <div>
        <div>
            <div>Введите новый пароль</div>
            <div>

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {# TODO: Добавьте сюда код отображения поля #}
                        <div aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<span>*</span>{% endif %}</label>
                            <div>
    
                                {# подключаем фильтр и указываем класс #}
                                {{ field|addclass:"form-control" }}
                                
                                {% if field.help_text %}
                                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div>              
                        <button type="submit">
                            Назначить новый пароль
                        </button>
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% else %}
<div>
    <div>
        <div>
            <div>Ошибка</div>
            <div>
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
{% endif %}

{% endblock %}