{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Изменение пароля{% endblock %}
{% block content %}
{% load user_filters %}

<div>
    <div>
        <div>
            <div>Изменить пароль</div>
            <div>

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                     {# TODO: Добавьте сюда код отображения поля #}
                    {% endfor %}

                    <div>              
                            <button type="submit">
                                Изменить пароль
                            </button>
                    </div>
                </form>

            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}